<li class="pokemon-item">
    <div
        class="card"
        style="width: 20rem;"
        [appHighlightDamage]="pokemon.damage"
    >
        <div class="card-header">
            <p class="card-name">{{ pokemon.name | uppercase }}</p>
            <label class="button-container">
                <input
                    type="checkbox"
                    class="default-checkbox"
                    (change)="onCatchReleaseCheckboxChange()"
                />
                <div
                    class="custom-checkbox"
                    [ngClass]="{ 'caught-pokemon': pokemon.caught }"
                >
                    {{ getCurrentPokemonStatus(pokemon) }}
                </div>
            </label>
            <button type="button" class="btn btn-secondary edit-button">
                Edit
            </button>
        </div>
        <a [routerLink]="['/details', pokemon.id]" class="no-styles-link">
            <div class="card-body">
                <div class="card-image-container">
                    <img
                        class="card-image-file"
                        src="assets/images/{{ pokemon.id }}.png"
                        alt=""
                    />
                </div>

                <div class="card-text-container">
                    <p class="card-damage card-text"
                        >Damage: {{ pokemon.damage }}</p
                    >
                    <p class="card-ID card-text"># {{ pokemon.id }}</p>
                </div>
            </div>
        </a>
    </div>
</li>
