<a [routerLink]="['/details', pokemon.id]" class="no-styles-link">
<li class="pokemon-item">
    <div
        class="card"
        style="width: 20rem"
        [appHighlightDamage]="pokemon.damage"
    >
        <div class="card-header">
            <p class="card-name">{{ pokemon.name | uppercase }}</p>
            <label class="button-container">
                <input
                    type="checkbox"
                    class="default-checkbox"
                    (change)="changePokemonStatus($event, pokemon.name)"
                />
                <div *ngIf="caught" class="custom-checkbox">
                    Release
                </div>
                <div *ngIf="!caught" class="custom-checkbox">
                    Catch
                </div>
                <button class="custom-checkbox edit-button">
                    Edit
                </button>
            </label>
        </div>
        <div class="card-body">
            <div class="card-image-container">
                <img
                    class="card-image-file"
                    src="assets/images/{{ pokemon.id }}.png"
                    alt=""
                />
            </div>

            <div class="card-text-container">
                <p class="card-damage card-text"
                    >Damage: {{ pokemon.damage }}</p
                >
                <p class="card-ID card-text"># {{ pokemon.id }}</p>
            </div>
        </div>
    </div>
</li>
</a>