.pokemon-item {
  display: flex;
  text-align: center;
}

.card {
  margin: 1rem !important;
}

.card-header {
  display: flex;
  align-items: stretch;
}

.card-name {
  margin: 0;
  vertical-align: middle;
  flex: 1;
  text-align: left;
  padding-top: 7px;
}

.button-container {
  margin: 0;
  cursor: pointer;
  &:hover .custom-checkbox {
    border-color: #fff;
  }
}

.default-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  &:checked ~ .custom-checkbox {
    background-color: #a43b38;
  }
}

.custom-checkbox {
  color: #fff;
  background-color: #00bc8c;
  display: inline-block;
  font-size: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: 0.15s ease-in-out;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image-container {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.card-image-file {
  position: absolute;
  width: 100%;
  height: auto;
}

.card-text-container {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.card-text {
  margin: 0;
  flex-grow: 1;
}

.card-damage {
  text-align: left;
}

.card-ID {
  text-align: right;
}

.high-damage {
  border-color: #e74c3c !important;
  border-width: thick;
}
