<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <label class="button-container">
        <input
          type="checkbox"
          class="default-checkbox"
          (change)="toggleView($event)"
        />
        <div *ngIf="displayAsList" class="custom-checkbox">
          Toggle to display as cards
        </div>
        <div *ngIf="!displayAsList" class="custom-checkbox">
          Toggle to display as list
        </div>
      </label>
</nav>
<ul class="pokemon-list">
  <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon">
  </app-pokemon-card>
</ul>
