.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  cursor: pointer;
  margin-bottom: 0px;
}

.default-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  &:checked ~ .custom-checkbox {
    background-color: #f39c12;
  }
}

.custom-checkbox {
  color: #fff;
  background-color: #3498db;
  display: inline-block;
  font-size: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: 0.15s ease-in-out;
}

.pokemon-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
