<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-container">
        <label class="button-container">
            <input
                type="checkbox"
                class="default-checkbox"
                (change)="toggleView($event)"
            />
            <div *ngIf="displayAsList" class="custom-checkbox">
                Toggle to display as cards
            </div>
            <div *ngIf="!displayAsList" class="custom-checkbox">
                Toggle to display as list
            </div>
        </label>
        <app-search-bar (changed)="getByName($event)"></app-search-bar>
    </div>
</nav>

<ul *ngIf="displayAsList" class="pokemon-list">
    <app-pokemon-item
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        (CatchReleaseCheckboxChange)="
            changePokemonCaughtReleasedStatus(pokemon)
        "
    >
    </app-pokemon-item>
</ul>
<ul *ngIf="!displayAsList" class="pokemon-list">
    <app-pokemon-card
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        (CatchReleaseCheckboxChange)="
            changePokemonCaughtReleasedStatus(pokemon)
        "
    >
    </app-pokemon-card>
</ul>
